html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-height: fit-content;
}

header{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}

#tasks-header{
    display:flex;
    flex-direction:row;
    align-items: center;
}

main{
    margin-left: 20%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

main>section.task-list>h2{
    margin-top:50px;
}

form > input[type = "submit"]{
    border:none;
    background: none;
}

form > input[class = 'text-default']{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
}

form > input[type = "submit"]:hover{
    border:none;
    background-color: grey;
    color: white;
}

#delete-all{
    font-size: x-small;
    border:none;
    background: none;
    height:min-content;
    align-items:center;
    padding-top:10px;
    margin-left:5px;
}

#delete-all:hover{
    border:none;
    background-color: grey;
    color: white;
}

main>h2{
    position: 0%;
}

.text-default{
    color: black;
}

div.task{
    margin-bottom: 10px;
}

div.content>input{
    font-size: large;
}

.text-taskdefault{
    color: black;
    border:none;
    background: none;
}

.text-struckthrough{
    text-decoration: line-through;
    border:none;
    background: none;
}

.text-greyedout{
    color: grey;
    border:none;
    background: none;
    outline: none;
}

.actions > button{
    border:none;
    background: none;
}

.actions > button:hover{
    font-weight: bold;
}

input[class = 'text']{
    border:none;
    background: none;
}