html{
    font-family: Arial, Helvetica, sans-serif;
}

form > input[type = "submit"]{
    border:none;
    background: none;
}

form > input[class = 'text-default']{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
}

form > input[type = "submit"]:hover{
    border:none;
    background-color: grey;
    color: white;
}

main>h2{
    position: 0%;
}

.text-default{
    color: black;
}

div.task{
    margin-bottom: 10px;
}

div.content>input{
    font-size: large;
}

.text-taskdefault{
    color: black;
    border:none;
    background: none;
}

.text-struckthrough{
    text-decoration: line-through;
    border:none;
    background: none;
}

.text-greyedout{
    color: grey;
    border:none;
    background: none;
    outline: none;
}

.actions > button{
    border:none;
    background: none;
}

.actions > button:hover{
    font-weight: bold;
}

input[class = 'text']{
    border:none;
    background: none;
}